/**
 * SPDX-License-Identifier: EUPL-1.2
 * Copyright CSI Piemonte - 2023
 */

.contact-section .card.card-teaser-info,
.office-section .card.card-teaser-info,
.sport-wrapper .card.card-teaser-info {
  border-left: 8px solid rgba(0, 122, 82, 0.1);
}

@media (max-width: 767.8px) {
  .cmp-list-card-img-hr
    .card
    .novita-section
    .card-wrapper
    .sm-row
    .card-img-none,
  .novita-section .card-wrapper .sm-row .card-body,
  .novita-section
    .card-wrapper
    .sm-row
    .cmp-list-card-img-hr
    .card
    .card-img-none {
    width: 100%;
  }
}
@media (max-width: 767.8px) {
  .novita-section .card-wrapper .sm-row {
    flex-direction: row-reverse;
  }
}
.novita-section .card-wrapper .sm-row .img-responsive-wrapper img {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media (min-width: 768px) {
  .novita-section .card-wrapper .sm-row .img-responsive-wrapper img {
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
  }
}
@media (max-width: 767.8px) {
  .novita-section .card-wrapper .sm-row .img-responsive-wrapper {
    width: 75%;
  }
}
@media (max-width: 767.8px) {
  .novita-section
    .card-wrapper
    .sm-row
    .img-responsive-wrapper
    .img-responsive {
    height: 100%;
  }
}
@media (max-width: 767.8px) {
  .novita-section .card-wrapper .sm-row .img-responsive-wrapper .card-calendar {
    right: 20px;
  }
}

.just-validate-error-label {
  font-size: 14px;
  font-weight: bolder;
  padding: 8px;
  width: 100%;
}

.privacy-terms {
  h4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  ul,
  ol {
    margin: 0;
  }

  li {
    margin: 8px 0;
    position: relative;
  }
}

.cf-accordion {
  display: block !important;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out;
  -ms-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  &.show {
    max-height: 500px;
  }
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

/*inizo home*/
.card-teaser-wrapper .card-image {
  height: 100%;
  width: 130px;
  flex-shrink: 0;
}
.card-teaser-wrapper .card-image img {
  align-self: flex-start;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .card-teaser-wrapper .card-image img {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .card-teaser-wrapper .card-image img {
    max-width: 150px;
    max-height: 160px;
    height: 100%;
  }
}

.richtext-wrapper ul li {
  margin-left: 1.75rem;
  list-style-type: disc !important;
}
@media (min-width: 576px) {
  .richtext-wrapper ul li {
    margin-left: 1.55rem;
  }
}
.richtext-wrapper p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.home-carousel-title {
  font-size: 1.125rem;
  line-height: 1.5;
}
@media (min-width: 576px) {
  .home-carousel-title {
    font-size: 1.1111111111rem;
  }
}

.drop-shadow {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}
.row-shadow {
  box-shadow: 0 0.9375rem 1.325rem -0.9rem rgba(0, 0, 0, 0.1);
}

.card .card-body .category-top,
.cmp-list-card-img-hr .card .card-img-none .category-top {
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
}
@media (min-width: 576px) {
  .card .card-body .category-top,
  .cmp-list-card-img-hr .card .card-img-none .category-top {
    font-size: 0.7777777778rem;
  }
}

a.read-more {
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 700;
}
@media (min-width: 576px) {
  a.read-more {
    font-size: 0.7777777778rem;
  }
}

.row-calendar .it-header-block-title h4 {
  font-size: 1.125rem;
  line-height: 1.688;
  font-weight: 700;
}
@media (min-width: 576px) {
  .row-calendar .it-header-block-title h4 {
    font-size: 1.1111111111rem;
  }
}
.row-calendar .it-calendar-wrapper .card:after {
  content: unset;
}

.cmp-list-card-img-hr
  .row-calendar
  .it-calendar-wrapper
  .card
  .card-img-none
  .card-title,
.row-calendar .it-calendar-wrapper .card .card-body .card-title,
.row-calendar
  .it-calendar-wrapper
  .cmp-list-card-img-hr
  .card
  .card-img-none
  .card-title {
  font-size: 2.5rem;
  font-family: Roboto Mono, monospace;
  font-weight: 100;
  line-height: 1.44;
  padding-top: 0;
}
@media (min-width: 576px) {
  .cmp-list-card-img-hr
    .row-calendar
    .it-calendar-wrapper
    .card
    .card-img-none
    .card-title,
  .row-calendar .it-calendar-wrapper .card .card-body .card-title,
  .row-calendar
    .it-calendar-wrapper
    .cmp-list-card-img-hr
    .card
    .card-img-none
    .card-title {
    font-size: 2.2222222222rem;
  }
}
.cmp-list-card-img-hr
  .row-calendar
  .it-calendar-wrapper
  .card
  .card-img-none
  .card-title
  span,
.row-calendar .it-calendar-wrapper .card .card-body .card-title span,
.row-calendar
  .it-calendar-wrapper
  .cmp-list-card-img-hr
  .card
  .card-img-none
  .card-title
  span {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  padding-left: 0.7em;
  padding-top: 0;
}

.card-bg-blue {
  background-color: #0968b4;
}

//CONTACTS SECTION
.cf-contacts {
  .card {
    &:after {
      content: unset;
    }
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    @media (min-width: 576px) {
      font-size: 1.3333333333rem;
    }
    @media (min-width: 768px) {
      line-height: 1.2;
    }
  }
  .contact-list {
    li {
      font-size: 1rem;
      margin: 1rem 0;
      color: #007a52;
      font-weight: 400;
      @media (min-width: 576px) {
        font-size: 1rem;
      }
      @media (min-width: 768px) {
        line-height: 1.5;
        margin: 0.889rem 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      span {
        margin-left: 10px;
      }
    }
  }
}

//RATING

.cf-rating {
  .card-body {
    padding: 0;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    @media (min-width: 576px) {
      font-size: 1.3333333333rem;
    }
    @media (min-width: 768px) {
      line-height: 1.2;
    }
  }
  padding: 1.5rem 0;
  @media (min-width: 576px) {
    padding: 1.33rem 0;
  }
  @media (min-width: 992px) {
    padding: 5rem 0;
  }
  .rating > label svg {
    fill: #7d97b0;
  }
  .form-group {
    margin-bottom: 0;
    min-height: 5rem;
    @media (min-width: 576px) {
      min-height: 5.56rem;
    }
  }

  .card {
    padding: 1rem;

    @media (min-width: 576px) {
      padding: 0.89rem;
    }
    @media (min-width: 992px) {
      padding: 1.78rem;
    }
    &:after {
      content: unset;
    }
    &.card-teaser {
      padding: 16px 24px;
      text-decoration: none;
      @media (min-width: 992px) {
        flex-direction: row;
      }
      .icon {
        min-width: auto;
      }
    }
  }
  .card-header {
    padding: 0;
    margin-bottom: 1.25rem;
    @media (min-width: 576px) {
      margin-bottom: 1.11rem;
    }
  }
  .rating input:focus + label {
    border-color: #f90 !important;
    box-shadow: 0 0 0 2px #f90 !important;
    outline: none !important;
  }
  .cf-rating-section {
    padding: 1.5rem 1rem;
    @media (min-width: 576px) {
      padding: 1.33rem 0.89rem;
    }
    @media (min-width: 992px) {
      padding: 4.44rem 0;
    }
  }
}
.cf-steps-rating {
  .step-title {
    padding: 0.875rem;
    margin-bottom: 2.375rem;
    @media (min-width: 576px) {
      padding: 0.78rem;
      margin-bottom: 2.111rem;
    }
    legend {
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 36px;
      @media (min-width: 576px) {
        font-size: 1rem;
      }
    }
  }
}

.cf-radio-list {
  font-size: 1rem;
  font-weight: 600;
  @media (min-width: 576px) {
    font-size: 1rem;
  }
  &__item:not(:last-child) {
    margin-bottom: 1rem;
    @media (min-width: 576px) {
      margin-bottom: 0.89rem;
    }
  }
  .form-check {
    & [type="checkbox"] + label,
    & [type="radio"] + label {
      height: auto;
      margin-bottom: 1.25rem;
      @media (min-width: 576px) {
        margin-bottom: 1.11rem;
      }
    }
  }
}

.cmp-list-card-img-hr .card .cf-rating .card-img-none,
.cf-rating .cmp-list-card-img-hr .card .card-img-none {
  padding: 0;
}

.it-carousel-wrapper .splide__pagination button {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.25rem;
}
@media (min-width: 576px) {
  .it-carousel-wrapper .splide__pagination button {
    width: 0.67rem;
    height: 0.67rem;
    margin: 0 0.22rem;
  }
}
.it-carousel-wrapper .splide__track {
  padding-top: 16px;
}
@media (min-width: 768px) {
  .it-carousel-wrapper .splide__track {
    padding-top: 46px;
  }
}

.bg-gray-card .form-group label {
  color: #455a64;
}

.cmp-list-card-img-hr .img-fluid.img-responsive {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 768px) {
  .cmp-list-card-img-hr .img-fluid.img-responsive {
    height: auto;
    max-height: 160px;
  }
}
@media (max-width: 991.8px) {
  .cmp-list-card-img-hr .img-fluid.img-responsive.rounded-top {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: unset !important;
  }
}
@media (min-width: 768px) {
  .cmp-list-card-img-hr .col-4,
  .cmp-list-card-img-hr .col-8 {
    width: 100% !important;
  }
}
.cmp-list-card-img-hr .card {
  max-width: 540px;
  height: auto;
  background-color: transparent;
}
@media (max-width: 991.8px) {
  .cmp-list-card-img-hr .card {
    max-width: 100%;
  }
}
.cmp-list-card-img-hr .card.shadow-sm {
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.15) !important;
}
.cmp-list-card-img-hr .card.no-after:after {
  content: unset;
}
.cmp-list-card-img-hr .card .card-body,
.cmp-list-card-img-hr .card .card-img-none {
  padding: 0.75rem 1.25rem;
}
@media (min-width: 768px) {
  .cmp-list-card-img-hr .card .card-body,
  .cmp-list-card-img-hr .card .card-img-none {
    padding: 2rem 1.333rem;
  }
}
.cmp-list-card-img-hr .card .card-body .category-top .data:before,
.cmp-list-card-img-hr .card .card-img-none .category-top .data:before {
  margin: 0 0.5rem 0 0;
}
@media (min-width: 576px) {
  .cmp-list-card-img-hr .card .card-body .category-top .data:before,
  .cmp-list-card-img-hr .card .card-img-none .category-top .data:before {
    margin-right: 0.444rem;
  }
}
.cmp-list-card-img-hr .card .card-body h3.card-title,
.cmp-list-card-img-hr .card .card-img-none h3.card-title {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}
@media (min-width: 576px) {
  .cmp-list-card-img-hr .card .card-body h3.card-title,
  .cmp-list-card-img-hr .card .card-img-none h3.card-title {
    font-size: 1.3333333333rem;
    line-height: 1.556;
  }
}
.cmp-list-card-img-hr .card .card-body .card-text,
.cmp-list-card-img-hr .card .card-img-none .card-text {
  font-size: 1rem;
}
@media (min-width: 576px) {
  .cmp-list-card-img-hr .card .card-body .card-text,
  .cmp-list-card-img-hr .card .card-img-none .card-text {
    font-size: 0.8888888889rem;
    font-weight: 400;
    line-height: 1.5;
  }
}
.cmp-list-card-img-hr .card .card-img-none {
  padding: 1.25rem;
}
@media (min-width: 768px) {
  .cmp-list-card-img-hr .card .card-img-none {
    padding: 1.333rem;
  }
}
.cmp-list-card-img-hr .card .card-img-none .category-top .data:before {
  content: "—";
  display: inline-block;
  margin: 0 0.5rem 0 0;
}
@media (min-width: 576px) {
  .cmp-list-card-img-hr .card .card-img-none .category-top .data:before {
    margin-right: 0.444rem;
  }
}

.cmp-list-card-img-hr .cmp-list-card-img .card.card-img .card-img-none,
.cmp-list-card-img .card.card-img .card-body,
.cmp-list-card-img .cmp-list-card-img-hr .card.card-img .card-img-none {
  padding: 2rem 1.5rem;
}
@media (min-width: 576px) {
  .cmp-list-card-img-hr .cmp-list-card-img .card.card-img .card-img-none,
  .cmp-list-card-img .card.card-img .card-body,
  .cmp-list-card-img .cmp-list-card-img-hr .card.card-img .card-img-none {
    padding: 1.78rem 1.33rem;
  }
}

.cmp-list-card-img.card-wrapper {
  padding-bottom: 0;
  background-color: #fff;
}
.cmp-list-card-img.card-wrapper.shadow-sm {
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.15) !important;
}
.cmp-list-card-img__wrapper {
  min-height: 10rem;
}
@media (min-width: 576px) {
  .cmp-list-card-img__wrapper {
    min-height: 8.89rem;
  }
}
.cmp-list-card-img__body-heading-title {
  font-family: Titillium Web;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
@media (min-width: 576px) {
  .cmp-list-card-img__body-heading-title {
    font-size: 0.7777777778rem;
  }
}
.cmp-list-card-img__body-title {
  font-family: Titillium Web;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.167;
  margin-bottom: 1.5rem;
}
@media (min-width: 576px) {
  .cmp-list-card-img__body-title {
    font-size: 1.3333333333rem;
    margin-bottom: 1.33rem;
  }
}
.cmp-list-card-img__body-description {
  font-family: Lora;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4.63rem;
}
@media (min-width: 576px) {
  .cmp-list-card-img__body-description {
    font-size: 0.8888888889rem;
    margin-bottom: 4rem;
  }
}
.cmp-list-card-img__body-link {
  display: flex;
  align-items: center;
  font-family: Titillium Web;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 576px) {
  .cmp-list-card-img__body-link {
    font-size: 0.6666666667rem;
  }
}

/*fine home*/

.search-modal .modal-dialog {
  max-width: 100%;
  margin: 0;
  height: 100vh;
}
.search-modal .modal-dialog .modal-content {
  height: 100%;
}
.search-modal .modal-dialog .modal-content .modal-body {
  overflow-y: auto;
}
@media (max-width: 767.8px) {
  .search-modal .modal-dialog .modal-content .modal-body {
    padding: 0;
  }
}
@media (max-width: 767.8px) {
  .search-modal .modal-dialog .modal-content .modal-body .container {
    max-width: 100%;
    padding: 0;
  }
}
.search-modal .modal-title {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.06);
  padding: 1.125rem 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #455a64;
  margin-bottom: 4.375rem;
}
@media (min-width: 576px) {
  .search-modal .modal-title {
    font-size: 2.6666666667rem;
    padding: 1rem 1.33rem;
    margin-bottom: 3.89rem;
  }
}
@media (min-width: 768px) {
  .search-modal .modal-title {
    box-shadow: none;
    justify-content: space-between;
    line-height: 1.1;
  }
}
.search-modal .modal-title h2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
}
@media (min-width: 576px) {
  .search-modal .modal-title h2 {
    font-size: 2.6666666667rem;
  }
}
@media (min-width: 768px) {
  .search-modal .modal-title h2 {
    line-height: 1.1;
  }
}
.search-modal .modal-title .search-link {
  margin-right: 1.5rem;
}
@media (min-width: 576px) {
  .search-modal .modal-title .search-link {
    margin-right: 1.33rem;
  }
}
.search-modal .modal-title .search-link svg {
  fill: var(--bs-primary);
}
.search-modal .form-group {
  display: flex;
  align-items: flex-end;
  gap: 1.875rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 576px) {
  .search-modal .form-group {
    gap: 1.67rem;
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }
}
.search-modal .form-group .autocomplete-icon {
  left: 20px;
  top: 50%;
  right: auto;
  transform: translateY(-50%);
}
.search-modal .form-group .autocomplete-icon .icon,
.search-modal .form-group .input-group-prepend svg {
  fill: var(--bs-primary);
}
@media (max-width: 575.8px) {
  .search-modal .form-group .input-group-prepend svg {
    width: 1rem;
    height: 1rem;
  }
}
.search-modal .form-group label {
  opacity: 0;
  visibility: hidden;
}
.search-modal .form-group input {
  background-color: #fff;
  font-size: 1rem;
}
@media (min-width: 576px) {
  .search-modal .form-group input {
    font-size: 2.2222222222rem;
  }
}
@media (min-width: 768px) {
  .search-modal .form-group input {
    height: auto;
  }
}
.search-modal .form-group input::-moz-placeholder {
  font-weight: 400;
  color: #455b71;
  opacity: 0.4;
}
.search-modal .form-group input::placeholder {
  font-weight: 400;
  color: #455b71;
  opacity: 0.4;
}
.search-modal .searches-list-wrapper {
  padding: 1.125rem 1.5rem;
}
@media (min-width: 576px) {
  .search-modal .searches-list-wrapper {
    padding: 1rem 1.33rem;
  }
}
.search-modal .searches-list-wrapper .other-link-title {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  color: #191919;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  .search-modal .searches-list-wrapper .other-link-title {
    font-size: 0.7777777778rem;
    margin-bottom: 0.89rem;
  }
}
.search-modal .searches-list li + li {
  margin-top: 1rem;
}
@media (min-width: 576px) {
  .search-modal .searches-list li + li {
    margin-top: 0.89rem;
  }
}
.search-modal .searches-list li a {
  font-size: 1.125rem;
  color: var(--bs-primary);
  line-height: 1.5;
  text-decoration: underline;
}
@media (min-width: 576px) {
  .search-modal .searches-list li a {
    font-size: 1rem;
  }
}
.search-modal .searches-list li a:hover {
  text-decoration: none;
}

.p-contacts {
  padding: 2.5rem 1.5rem;
}
@media (min-width: 992px) {
  .p-contacts {
    padding: 2.66rem 0;
  }
}

//FILTER

.cf-filter {
  padding: 0 0.75rem;
  @media (min-width: 576px) {
    padding: 0;
  }
  &:not(:last-child) {
    @media (min-width: 992px) {
      margin-top: 0;
    }
  }
  &:not(:first-child) {
    margin-top: 2rem;
    @media (min-width: 576px) {
      margin-top: 1.78rem;
    }
    @media (min-width: 992px) {
      margin-top: 2.89rem;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    @media (min-width: 576px) {
      margin-bottom: 0.44rem;
    }
    @media (min-width: 992px) {
      margin-bottom: 0.89rem;
    }
  }
  .filter-section {
    display: flex;
    justify-content: space-between;
  }
  .filter-wrapper {
    button {
      span {
        font-size: 0.875rem;
        font-weight: 600;
        color: var(--bs-primary);
        @media (min-width: 576px) {
          font-size: 0.8888888889rem;
        }
      }
    }
  }
}

.cf-accordion {
  &.faq {
    .accordion-body,
    .accordion-button {
      padding: 1rem 1.5rem;
      @media (min-width: 576px) {
        padding: 0.889rem 1.333rem;
      }
    }
  }
}

.are-more-btn {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.6;
  @media (min-width: 576px) {
    font-size: 0.7777777778rem;
  }
}

.back-button {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  @media (min-width: 576px) {
    font-size: 1rem;
  }
}

.faq-accordion {
  border: none !important;
  .accordion-button {
    padding-top: 0px !important;
  }
  .accordion-body {
    .label {
      font-size: 1rem;
      color: rgba(25, 25, 25, 0.7);
      line-height: 1.5;
      @media (min-width: 576px) {
        font-size: 0.8888888889rem;
      }
    }
  }
}
#user-btnTarget {
  a {
    color: var(--bs-primary);
    &:hover {
      color: var(--bs-link-hover-color);
    }
  }
}

#personal-area-nav {
  &:before {
    background: none;
  }

  ul {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  li {
    .router-link-active.active {
      cursor: default !important;
    }

    cursor: pointer;

    .nav-link {
      padding: 8px;
      margin-bottom: calc(-2 * var(--bs-nav-tabs-border-width));
    }
    &:hover {
      .nav-link {
        color: var(--bs-primary);
      }
      .icon {
        fill: var(--bs-primary);
      }
    }
  }

  .messages-not-read-badge {
    position: absolute;
    top: 0px;
    left: 24px;
    display: block;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    padding: 4px;
  }
}

.btn-default-primary {
  color: var(--bs-primary);
  &:hover {
    color: var(--bs-link-hover-color);
  }
}

.cf-inner-loading {
  .progress-spinner-active:not(.progress-spinner-double) {
    border-color: var(--bs-primary);
    border-bottom-color: var(--bs-gray-300);
  }
  .small {
    width: 20px;
    height: 20px;
  }
}

.text-200 {
  color: #a3a4a7 !important;
}

#btn-profile {
  .btn-profile__label {
    color: var(--bs-primary);
  }
  .icon {
    margin-right: -0.3em;
    fill: var(--bs-primary);
  }
  &:hover {
    .btn-profile__label {
      color: var(--bs-link-hover-color);
      text-decoration: underline;
    }
    .icon {
      fill: var(--bs-link-hover-color);
    }
  }
}

#search-modal {
  .modal-xl {
    @media (min-width: 768px) {
      margin: 0;
      max-width: 100% !important;
      .modal-content {
        min-height: 100vh;
      }
    }
  }
}

//APPUNTAMENTI

.appointment-office-branch {
  cursor: pointer;
}

#frontOfficeListContainer {
  &.just-validate-success-field {
    padding-right: 0 !important;
    background: none;
  }
}

.appointment-free-slot-calendar__slot__time {
  width: 100%;
  max-width: 200px;
}

.appointment-free-slot-calendar {
  &__month-selector button {
    border-radius: 50%;
    padding: 4px;
    box-shadow: none;

    &:active,
    &:hover {
      box-shadow: none;
    }
  }

  &__month-view {
    border: 1px solid #e6ecf2;

    .row .col {
      padding: 0px;
      text-align: center;
    }
  }

  &__month-selector__previous-button--disabled,
  &__month-selector__next-button--disabled {
    visibility: hidden;
  }

  &__date {
    width: 34px;
    height: 34px;
    padding: 0px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    pointer-events: none;
    cursor: not-allowed;
    transition: all 0.4s ease;
    box-sizing: border-box;
    margin: auto;
    user-select: none;

    &--available {
      pointer-events: auto !important;
      cursor: pointer;
      position: relative;
    }

    &--selected {
      color: white;
      font-weight: bold;
    }
  }
}

.appointment-free-slot-calendar__button {
  width: 34px;
  height: 34px;
  padding: 0px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  pointer-events: none;
  cursor: not-allowed;
  transition: all 0.4s ease;
  box-sizing: border-box;
  margin: auto;
  user-select: none;

  &--available {
    pointer-events: auto;
    cursor: pointer;
    position: relative;
  }

  &--selected {
    color: white;
    font-weight: bold;
  }
}

.appointment-front-office-item {
  &.border {
    border-width: 3px;
  }

  .form-check [type="radio"] + label {
    width: 100%;
    padding-left: 0;
    padding-right: 52px;

    &:before,
    &:after {
      content: "";
      right: 0;
      top: 0;
      left: unset;
    }
  }
}

//CF_MODAL
.cf-modal {
  @media screen and (min-width: 576px) {
    .modal-dialog {
      &.modal-xl {
        max-width: calc(100% - 96px);
      }
    }
  }
  .btn-modal-action {
    min-width: 120px;
  }
  button {
    width: auto !important;
    padding-right: 16px !important;
    display: inline-block;
  }
}

.notification {
  z-index: 10000;
}

//CONTATTI NOTIFICHE

.preference-channel-checkbox {
  min-width: 55px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-check {
    width: 20px !important;
    height: 20px !important;
    margin-right: 0 !important;

    [type="checkbox"] + label {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      transform: translateX(-50%);
      &::after {
        margin-top: 0px;
      }

      &::before {
        top: -1px;
      }
    }
  }
}

.preference-icon {
  text-align: center;
  min-width: 55px;
  i {
    font-size: 20px;
  }
  .btn-flatext-primary {
    padding: 8px;
  }
  .btn-flatext-primary:focus {
    box-shadow: none;
  }
}

.cf-preferences-tree--root {
  position: relative;
  border: none !important;
  svg {
    margin-top: -4px;
    margin-left: -16px;
    width: 32px !important;
    height: 32px !important;
    transform: rotate(90deg);
  }
}

.cf-preferences-tree--row {
  li {
    position: relative;
    padding-left: 30px;

    &:before {
      content: "";
      position: absolute;
      top: -32px;
      bottom: 50%;
      width: 16px;
      left: -1px;
      border-left: 2px solid var(--bs-primary);
      border-bottom: 2px solid var(--bs-primary);
    }
  }
  &:after {
    content: "";
    position: absolute;
    // top: 0px;
    bottom: 0;
    width: 2px;
    right: auto;
    left: 16px;
    border-left: 2px solid var(--bs-primary);
  }
}

.cf-preferences-tree__title {
  color: #000;
  padding-left: 16px;
  &:before {
    content: "\A";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4px;
    border-radius: 50%;
    background: var(--bs-primary);
    display: inline-block;
    margin-left: -4px;
    left: 16px;
  }
}

.user-contacts-card {
  .form-control-plaintext,
  .input-group,
  input,
  label {
    cursor: pointer;
  }
}

.filter-search-buttons {
  .just-validate-success-field {
    padding-right: 0 !important;
    background: none;
  }
}

.stepper-navigation {
  .steppers-nav {
    padding: 0;
    margin-bottom: 0.889rem;

    button {
      min-width: 120px;
    }

    button:not(.steppers-btn-confirm) {
      margin-right: 0;
    }
  }
}

#fcmPermissionModal {
  .modal-dialog {
    position: fixed;
    margin: 16px auto;
    right: 0;
    left: 0;
    bottom: 0;
  }
}


//stepper verticale

.stepper-vertical__dot {
  contain: layout;
  font-size: 14px;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  border-radius: 50%;
  margin: 8px;
}

.stepper-vertical__body {
  width: 100%;
  padding:  8px 24px  8px  8px;
}

.stepper-vertical-navigation{
  button{
    min-width: 120px;
  }
}